/*
--- Header controls
*/

.controls {
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: var(--gap-third);
  z-index: 200;
  left: 0;
  /* width: 100%; */
  height: auto;
  mix-blend-mode: exclusion;
}

  .controls .icon {
    width: var(--gap-quart);
    height: var(--gap-quart);
    color: var(--surface);
    stroke: var(--surface);
  }

/*
--- Button
*/

.button {
  width: var(--gap-quart);
  height: var(--gap-quart);
  cursor: pointer;
  margin: var(--gap-third);
}


/* Menu + transform */
.button__menu {
  position: relative;
  left: 0;
  transform: scale(1);

  transition: left 0.5s ease,
              transform 0.25s ease,
              opacity 0.25s ease,
              visibility 0.5s;
}

.button__menu:hover {
  transform: scale(1.25);
}

.button__menu[data-level='0'],
.button__menu[data-level='1'] {
  left: var(--menu);
}

.button__menu[data-level='2'] {
  left: calc(2 * var(--menu));
}

.button__menu[data-level='3'] {
  left: calc(3 * var(--menu));
}

@media (max-width: 960px) {
  .button__menu[data-level='0'],
  .button__menu[data-level='1'],
  .button__menu[data-level='2'],
  .button__menu[data-level='3'] {
    left: var(--menu);
  }
}

@media (min-width: 1601px) {
  .button__menu {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s, 0s, 0s, 0s;
  }
}

.button--transform {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s, 0s, 0.25s, 0s;
}


  .button__menu svg {
    stroke: var(--surface);
  }

  .button__menu svg path {
    transition: transform 0.5s ease
  }

    .button__menu svg path:first-child {
      transform-origin: left top;
    }

      .button--transform svg path:first-child {
        transform: rotate(45deg) translate(3px, -3px) scaleX(1.25);
      }

    .button__menu svg path:nth-of-type(2) {
      transform-origin: left center;
      transition: transform 0.5s ease, opacity 0.5s ease;
    }

      .button--transform svg path:nth-of-type(2){
        transform: translateX(36px);
        opacity: 0;
      }

    .button__menu svg path:last-child {
      transform-origin: left bottom;
    }

      .button--transform svg path:last-child {
        transform: rotate(-45deg) translate(3px, 3px) scaleX(1.25);
      }
